/* 
    Created on : 23-Jun-2017, 08:39:52
    Author     : Miloslav Zezulka, <zezulka95@gmail.com>
*/
* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #EEEEEE;
}

.tree-cell:selected {
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #3c3c3c;
}

.tool-bar {
    -fx-background-color: #AAAAAA;
}
