/* 
    Created on : 23-Jun-2017, 08:39:52
    Author     : Miloslav Zezulka, <zezulka95@gmail.com>
*/
.tab, .table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*.tab-pane {
  -fx-skin: "gui.layouts.controllers.MasterWindowController.CustomTabPaneSkin";
}*/

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #EEEEEE;
}

.tree-cell:selected {
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #3c3c3c;
}

.tool-bar {
    -fx-background-color: #AAAAAA;
}

#nonselectable {
    -fx-background-color: #000000;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(#FFD166 0%, #BA994B 100%);
}